<h1>day la trang an toan bao mat thong tin</h1>
<br>
<h2>Tìm phần tử nghịch đảo</h2>
<div class="form-row col-md-12">
  <div class="form-group col-md-3" id="ptnd-gr-soa">
    <label>Số a</label>
    <input type="number" class="form-control" id="ptnd-soa" placeholder="Số a">
  </div>
  <div class="form-group col-md-3">
    <label>Số n</label>
    <input type="number" class="form-control" id="ptnd-son" placeholder="Số n">
  </div>
</div>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="ptnd-check-all">
    <label class="form-check-label" for="gridCheck">
      Tìm tất cả các cặp phần tử nghịch đảo trong Zn.
    </label>
  </div>
</div>
<button class="btn btn-primary" id="ptnd-tk">Tìm kiếm</button>
<br>
<div id="ptnd-kq">
  <h3>Phần tử nghịch đảo của số a là :</h3>
  <h3 id="ptnd-show-kq" style="color:red;"></h3>
</div>
<br>
<h2>Tìm mod với số mũ lớn</h2>
<div class="form-row col-md-12">
  <div class="form-group col-md-3">
    <label>Số a</label>
    <input type="number" class="form-control" id="bigmod-soa" placeholder="Số a">
  </div>
  <div class="form-group col-md-3">
    <label>Số x</label>
    <input type="number" class="form-control" id="bigmod-sox" placeholder="Số a">
  </div>
  <div class="form-group col-md-3">
    <label>Số n</label>
    <input type="number" class="form-control" id="bigmod-son" placeholder="Số n">
  </div>
</div>
<button class="btn btn-primary" id="bigmod-tk">Tìm kiếm</button>
<br>
<div id="ptnd-kq">
  <h3>Số mod là:</h3>
  <h3 id="bigmod-show-kq" style="color:red;"></h3>
</div>
