<h1>in put your link</h1>
<div class="form-inline">
  <input class="form-control" placeholder="your link" id="txt">
  <button class="btn btn-outline-success my-2 my-sm-0" id="ahihi">End code</button>
</div>
<br>
<div class="form-group" id="show-rel">
  <p>Code of link is:</p>
  <p id="rel"></p>
</div>
<br>
<div class="form-inline">
  <input class="form-control" placeholder="code" id="txtCode">
  <button class="btn btn-outline-success my-2 my-sm-0">
    <a id="aaaa" target='_blank'>code go to link</a>
  </button>
</div>
<br>
<br>
<%= link_to "day la trang an toan bao mat thong tin", atbmtt_path %>
