<h1>in put your link</h1>
<div class="form-inline">
  <input class="form-control" placeholder="your link" id="txt">
  <button class="btn btn-outline-success my-2 my-sm-0" id="ahihi">End code</button>
  <select class="form-control" id="select-end-code">
    <option value="10">Hệ thập phân</option>
    <option value="2">Hệ nhị phân</option>
    <option value="16">Hệ thập lục phân</option>
    <option value="999">Qrcode</option>
</select>
</div>
<br>
<div class="form-group" id="show-rel">
  <p>Code of link is:</p>
  <p id="rel"></p>
</div>
<br>
<div class="form-inline">
  <input class="form-control" placeholder="code" id="txtCode">
  <button class="btn btn-outline-success my-2 my-sm-0">
    <a id="aaaa" target='_blank'>code go to link</a>
  </button>
</div>
<br>
<br>
<%= link_to "day la trang an toan bao mat thong tin", atbmtt_path %>
<div id="qrcode"></div>
